<html>
<body>
  <div>
    <%= yield %>
    <p class="content-subhead">There are <%= count_users(@users_and_interests) %> users with a total of <%= count_interests(@users_and_interests) %> interests</p>
</div>
</body>
</html>